<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <servlet-name>FindNameServlet</servlet-name>
    <servlet-class>com.lqz.web.userServlet.FindNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindNameServlet</servlet-name>
    <url-pattern>/servlet/findNameServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.lqz.web.userServlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/registerServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ShowVagueUserServlet</servlet-name>
    <servlet-class>com.lqz.web.userServlet.ShowVagueUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowVagueUserServlet</servlet-name>
    <url-pattern>/servlet/showVagueUserServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.lqz.web.userServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowDetailServlet</servlet-name>
    <servlet-class>com.lqz.web.userServlet.ShowDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetailServlet</servlet-name>
    <url-pattern>/servlet/showDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditDetailServlet</servlet-name>
    <servlet-class>com.lqz.web.userServlet.EditDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDetailServlet</servlet-name>
    <url-pattern>/servlet/editDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteDetailServlet</servlet-name>
    <servlet-class>com.lqz.web.userServlet.DeleteDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDetailServlet</servlet-name>
    <url-pattern>/servlet/deleteDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPostServlet</servlet-name>
    <servlet-class>com.lqz.web.postServlet.AddPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPostServlet</servlet-name>
    <url-pattern>/servlet/addPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePostServlet</servlet-name>
    <servlet-class>com.lqz.web.postServlet.DeletePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePostServlet</servlet-name>
    <url-pattern>/servlet/deletePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePostServlet</servlet-name>
    <servlet-class>com.lqz.web.postServlet.UpdatePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePostServlet</servlet-name>
    <url-pattern>/servlet/updatePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCommentServlet</servlet-name>
    <servlet-class>com.lqz.web.commentServlet.AddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/servlet/addCommentServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>user/user-login.jsp</welcome-file>
  </welcome-file-list>
</web-app>